body{
  
    background-color: rgb(20, 20, 72);
    color:rgb(0, 168, 240);
    font-family:dosis;
    padding:20px;
    
  }

h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;

}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    grid-row: 4fr;
}  
.blockname{
    list-style-type:none;
    font-weight: 600;
    font-size:1.5rem ;
    margin:20px 0 20px 0;
    color:rgb(0, 136, 255);
}
li{
    list-style: none;
    color: aliceblue;
}
ul{
    text-align: center;
    margin:15px;
    padding:5px;
    border-radius: 10px;
    border:2px solid black;
    padding-bottom: 15px;
}
ul:hover{
    border:2px solid rgb(255, 255, 255);

}
