<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Itim&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <h1>
        Men's Hostel Room Types
    </h1>
    <div class="container">
    <ul class="list1">
        <li class="blockname">A Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">B Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">B Annex</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">C Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">D Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">E Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">F Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">G Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">H Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">J Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">K Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">L Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">M Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">N Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">P Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">Q Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">R Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">S Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">T Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
</div>
    <h1>
        Men's Hostel
    </h1>
    <div class="container">
    <ul class="list1">
        <li class="blockname">A Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">B Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">B Annex</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">C Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">D Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">E Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">F Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">G Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">H Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">J Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">K Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">L Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">M Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">N Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">P Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">Q Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">R Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">S Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>
    <ul class="list1">
        <li class="blockname">T Block</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>
        <li>Bed</li>

    </ul>

</div>

    
</body>
</html>