<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Itim&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

</head>
<body>
    <h1>GPA Calculator</h1>

    <div class="cardscontainer">
        <div class="cards">
            
            <h2>Course 1</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits1">Credits:</label>
                    <select id="credits1-dropdown" name="credits1-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade1">Expected Grade:</label>
                    <select id="grade1" name="grade1">
                        <option value="default" selected>--Select Grade--</option> 
                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 2</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits2">Credits:</label>
                    <select id="credits2-dropdown" name="credits2-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade2">Expected Grade:</label>
                    <select id="grade2" name="grade2">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            <h2>Course 3</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits3">Credits:</label>
                    <select id="credits3-dropdown" name="credits3-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade3">Expected Grade:</label>
                    <select id="grade3" name="grade3">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 4</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits4">Credits:</label>
                    <select id="credits4-dropdown" name="credits4-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade4">Expected Grade:</label>
                    <select id="grade4" name="grade4">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 5</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits5">Credits:</label>
                    <select id="credits5-dropdown" name="credits5-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade5">Expected Grade:</label>
                    <select id="grade5" name="grade5">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 6</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits6">Credits:</label>
                    <select id="credits6-dropdown" name="credits6-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade6">Expected Grade:</label>
                    <select id="grade6" name="grade6">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 7</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits7">Credits:</label>
                    <select id="credits7-dropdown" name="credits7-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade7">Expected Grade:</label>
                    <select id="grade7" name="grade">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 8</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits8">Credits:</label>
                    <select id="credits8-dropdown" name="credits8-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade8">Expected Grade:</label>
                    <select id="grade8" name="grade8">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 9</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits9">Credits:</label>
                    <select id="credits9-dropdown" name="credits9-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade9">Expected Grade:</label>
                    <select id="grade9" name="grade9">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

           
            <h2>Course 10</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits10">Credits:</label>
                    <select id="credits10-dropdown" name="credits10-dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade10">Expected Grade:</label>
                    <select id="grade10" name="grade10">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>                </div>
            </div>

            
            <h2>Course 11</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits11">Credits:</label>
                    <select id="credits11-dropdown" name="credits11dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>
                </div>
                <div class="input-group">
                    <label for="grade11">Expected Grade:</label>
                    <select id="grade11" name="grade11">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>
                </div>
            </div>

            
            <h2>Course 12</h2>
            <div class="card">
                
                <div class="input-group">
                    <label for="credits12">Credits:</label>
                    <select id="credits12-dropdown" name="credits12dropdown">
                        <option value="0" selected>--Select Credits--</option> 

                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">20</option>

                    </select>                </div>
                <div class="input-group">
                    <label for="grade12">Expected Grade:</label>
                    <select id="grade12" name="grade12">
                        <option value="default" selected>--Select Grade--</option> 

                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="N">N</option>
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button onclick="calculateGPA()" id="calculateButton">Calculate GPA</button>
        </div>
        <div class="result">GPA : <span id="calculatedGPA"></span></div>
    </div>

    <script src="script.js"></script>

</body>
</html>
