body{
  

  
    background:url("https://1.bp.blogspot.com/-YwPmkkidXdQ/YFcHEWzpo1I/AAAAAAAAF1w/yZXs9Y920ZsytB9_upMsNjP8oE-Ei20uACLcBGAsYHQ/s16000/1.png") center / cover no-repeat fixed;;
    color:rgb(0, 168, 240);
    font-family:Dosis;

    
  
    text-align: center;
    
  }

h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;

} 
h2{
  margin: 30px;
}
button{
  width:15%;
    background-color: rgba(0, 255, 251, 0.791);
    font-weight: 600;
    border-radius: 30px;
    height: 30px;
    border: none;
    font-size: 1rem;
}
input{
  width:15%;
  background-color: rgba(0, 255, 251, 0.791);
  font-weight: 600;
  border: none;
  height: 25px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
}
.component{
  margin: 0px;
}
p{
  font-size: 1.8rem;
  font-weight: bold;
  color:aqua;
  margin:50px;
}
/* Media query for devices with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; 
  }

  h2 {
    margin: 10px; 
  }

  p {
    font-size: 1.2rem; 
    margin: 10px; 
  }
}
