<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Itim&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Best Notes One Place</h1>
    <div class="container">
      
      <div class="books">
        <h2>Calculus :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download Thomas Calculus </a
        >
      </div>

      <div class="books">
        <h2>Engineering Physics :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download "Steward Engg Physics"</a
        >
      </div>
      <div class="books">
        <h2>Engineering Chemistry :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download "Engineering Chemistry Book"</a
        >
      </div>
      <div class="books">
        <h2>Python :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download "Mark Lutz"</a
        >
      </div>
      <div class="books">
        <h2>OOPS :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download "OOPS Construction" </a
        >
      </div>
      <div class="books">
        <h2>DSA:</h2>
        <a href="files/dsa merged_compressed.pdf" download
          >Download "Introduction to Algorithms"</a
        >
      </div>
      <div class="books">
        <h2>BEEE :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download "James Nilsson BEEE Guide"</a
        >
      </div>
      <div class="books">
        <h2>Differential:</h2>
        <a href="files/differential equations merged_compressed.pdf" download
          >Download "Martin Braun"</a
        >
      </div>
      <div class="books">
        <h2>Digital Systems and Designs :</h2>
        <a href="files/dsd merged_compressed.pdf" download
          >Download "David Money Harris"</a
        >
      </div>
      <div class="books">
        <h2>Complex Algebra:</h2>
        <a href="files/complex algebra merged_compressed.pdf" download
          >Download "L Sergio Complex Analysis"</a
        >
      </div>
      <div class="books">
        <h2>Discrete Mathematics:</h2>
        <a href="files/discrete merged_compressed.pdf" download
          >Download "Kenneth H Rosen"</a
        >
      </div>
      
      
    </div>
  </body>
</html>
