body{
  
    background:url("https://1.bp.blogspot.com/-YwPmkkidXdQ/YFcHEWzpo1I/AAAAAAAAF1w/yZXs9Y920ZsytB9_upMsNjP8oE-Ei20uACLcBGAsYHQ/s16000/1.png") center / cover no-repeat fixed;;
    color:rgb(0, 168, 240);
    font-family:dosis;

    
  }

h1{
    text-align: center;
    font-size: 2rem;

}  
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 80%;
    padding:20px;
}
.component{
    margin:20px;
}
input{
    width:15%;
    background-color: rgba(0, 255, 251, 0.791);
    font-weight: 600;
    border: none;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.button-container{
    margin-top:20px;
    text-align: center;
    
}
.button-container button{
    width:20%;
    background-color: rgba(0, 255, 251, 0.791);
    font-weight: 600;
    border-radius: 30px;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    margin-top: 100px;
    
}
.result{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color:skyblue;
    margin-bottom: 30px;
}
.result span{
    color:rgb(0, 238, 255);
    font-weight: 700;
    
}
/* Media query for devices with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    .container {
      max-width: 90%; 
    }
  
    input, .button-container button {
      width: 90%; 
    }
  }
