body{
  
    background-color: rgb(20, 20, 72);
    color:rgb(0, 168, 240);
    font-family:dosis;

    
  }

h1{
    text-align: center;
    font-size: 2rem;

}  
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 80%;
    padding:20px;
}
.component{
    margin:20px;
}
input{
    width:15%;
    background-color: rgba(0, 255, 251, 0.791);
    font-weight: 600;
    border: none;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.button-container{
    margin-top:20px;
    text-align: center;
    
}
.button-container button{
    width:20%;
    background-color: rgba(0, 255, 251, 0.791);
    font-weight: 600;
    border-radius: 30px;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    margin-top: 100px;
    
}
.result{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color:skyblue;
    margin-bottom: 30px;
}
.result span{
    color:rgb(0, 238, 255);
    font-weight: 700;
    
}