<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Itim&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1>Best Notes One Place</h1>
    <div class="container">
      <div class="course">
        <h2>Calculus :</h2>
        <a href="files/Calculus(Maths)-compressed (1).pdf" download
          >Download Calculus notes</a
        >
      </div>
      <div class="course">
        <h2>Engineering Physics :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download Engg Physics notes</a
        >
      </div>
      <div class="course">
        <h2>Engineering Chemistry :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download Engg Chemistry notes</a
        >
      </div>
      <div class="course">
        <h2>Python :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download Python notes</a
        >
      </div>
      <div  class="course">
        <h2>Qualitative Skills 1 :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download Qualitative Skills 1 notes</a
        >
      </div>
      <div class="course">
        <h2>OOPS :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download OOPS notes</a
        >
      </div>
      <div class="course">
        <h2>DSA:</h2>
        <a href="files/dsa merged_compressed.pdf" download
          >Download DSA notes</a
        >
      </div>
      <div class="course">
        <h2>BEEE :</h2>
        <a href="./files/Calculus(Maths)-compressed (1).pdf" download
          >Download BEEE notes</a
        >
      </div>
      <div class="course">
        <h2>Differential:</h2>
        <a href="files/differential equations merged_compressed.pdf" download
          >Download Differential notes</a
        >
      </div>
      <div class="course">
        <h2>Digital Systems and Designs :</h2>
        <a href="files/dsd merged_compressed.pdf" download
          >Download DSD notes</a
        >
      </div>
      <div class="course">
        <h2>Complex Algebra:</h2>
        <a href="files/complex algebra merged_compressed.pdf" download
          >Download Complex Algebra notes</a
        >
      </div>
      <div class="course">
        <h2>Discrete Mathematics:</h2>
        <a href="files/discrete merged_compressed.pdf" download
          >Download Discrete Mathematics notes</a
        >
      </div>
      
      
    </div>
  </body>
</html>
