body{
  
    background:url("https://1.bp.blogspot.com/-YwPmkkidXdQ/YFcHEWzpo1I/AAAAAAAAF1w/yZXs9Y920ZsytB9_upMsNjP8oE-Ei20uACLcBGAsYHQ/s16000/1.png") center / cover no-repeat fixed;;
    color:rgb(0, 168, 240);
    font-family:dosis;

    
  }

h1{
    text-align: center;
    font-size: 2rem;

}  

a{
    color:white;
    margin:15px;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    grid-row: 4fr;
} 
.container div{
    border:2px solid white;
    border-radius:20px;
    padding:20px;
    margin:20px;
}
/* Media query for devices with a maximum width of 600px  */
@media only screen and (max-width: 600px) {
    .container {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .container div {
      margin: 10px; 
      padding: 15px;
    }
  }
